/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar general */
.navbar {
  background-color: #d2c3e3;
  width: 90%;
  height: 5rem;
  margin: auto;
  margin-top: 10px;
  border-radius: 50px;
}

.container {
  display: flex;
  flex-direction: row-reverse;
}

.navbar-nav {
  display: flex;
  gap: 1rem;
}

.navbar-toggler {
  border: none;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.collapse {
  background-color: #d2c3e3;
  border-radius: 8px;
  margin-top: 0.5rem;
  padding: 1rem 0;
}

.navbar-nav a {
  color: #003fa2;
  font-weight: 600;
  text-align: left;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}

.navbar-nav a:hover {
  text-decoration: underline;
  transition: 500ms;
  color: #003fa2;
}

/* body general*/
body {
  background-color: rgba(210, 195, 227, 0.7921568627);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* footer general*/
footer {
  margin-top: auto;
}
footer .footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: #003fa2;
  border-radius: 30px 30px 0 0;
}
footer .footer .footer-info {
  color: #d2c3e3;
  padding: 1.5rem 2rem 1rem 0;
  font-size: 0.7rem;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
}
footer .footer .footer-link a {
  color: #d2c3e3;
  padding-left: 1.5rem;
  font-size: 0.7rem;
}

/* footer tablet */
@media screen and (min-width: 768px) {
  .footer .footer-info p {
    font-size: 1.2rem;
    padding-right: 2rem;
  }
  footer .footer .footer-link a {
    font-size: 1.2rem;
    padding-left: 3rem;
  }
}
/* index */
main .main-index {
  display: flex;
  flex-direction: column;
  width: 95%;
  border: 0.5rem solid #d2c3e3;
  border-radius: 50px;
  margin: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
main .main-index .main-index-img img {
  width: 85%;
  padding: 1rem 0 0 1.5rem;
}
main .main-index .main-index-txt h1 {
  font-size: 1rem;
  text-align: end;
  padding: 0 1.5rem 1.5rem 0;
  color: #003fa2;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
}

section .section-index-img {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 50%);
  gap: 0.8rem;
  margin: 1rem 1rem 3rem 1rem;
}
section .section-index-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
section .section-index-img-2 {
  grid-row: span 2;
}
section .section-index-text {
  width: 85%;
  margin: auto;
  padding: 0 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #003fa2;
  font-family: "Quicksand", sans-serif;
}
section .section-index-text span {
  font-weight: bold;
}

/* estilo tablet */
@media screen and (min-width: 768px) {
  main .main-index div.main-index-txt h1 {
    font-size: 1.5rem;
    padding-right: 4rem;
  }
  .section-index-img {
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .section-index p {
    font-size: 1.5rem;
  }
}
/* estilo desktop */
@media screen and (min-width: 1024px) {
  main .main-index div.main-index-txt h1 {
    font-size: 2.5rem;
    padding-right: 8rem;
  }
  .section-index .section-index-img {
    margin-top: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .section-index .section-index-text {
    padding: 3.5rem;
  }
}
/* profesionales */
.main-profesionales h1 {
  font-size: 1rem;
  margin-top: 1.5rem;
  padding: 0 0 1.5rem 1rem;
  color: #003fa2;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-weight: 700;
}
.main-profesionales .main-profesionales-grilla {
  display: grid;
  gap: 2rem;
  padding: 1rem 1rem 0 1rem;
}
.main-profesionales .main-profesionales-grilla img {
  width: 35%;
  object-fit: cover;
  border-radius: 25px;
}
.main-profesionales .main-profesionales-grilla .item-profesional {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: space-around;
}
.main-profesionales .main-profesionales-grilla .reverse {
  flex-direction: row-reverse;
}
.main-profesionales .main-profesionales-grilla .item-profesional-texto {
  color: #003fa2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-profesionales .main-profesionales-grilla .item-profesional-texto h2 {
  font-size: 1.2rem;
}

/* estilo tablet */
@media screen and (min-width: 768px) {
  .main-profesionales h1 {
    font-size: 2.5rem;
    padding-left: 4rem;
  }
  .main-profesionales .main-profesionales-grilla {
    margin: 0 3rem;
    padding-bottom: 2rem;
  }
  .main-profesionales .main-profesionales-grilla div img {
    width: 30%;
  }
  .main-profesionales .main-profesionales-grilla .item-profesional-texto h2 {
    font-size: 2rem;
  }
  .main-profesionales .main-profesionales-grilla .item-profesional-texto p {
    font-size: 1.5rem;
  }
}
/* estilo desktop */
@media screen and (min-width: 1024px) {
  .main-profesionales .main-profesionales-grilla {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .main-profesionales .main-profesionales-grilla .item-profesional {
    display: flex;
    flex-direction: column;
  }
  .main-profesionales .main-profesionales-grilla .item-profesional img {
    width: 160px;
    height: 160px;
    object-fit: cover;
  }
}
/* servicios */
.main-servicios h1 {
  font-size: 1rem;
  margin-top: 1.5rem;
  padding: 0 0 1.5rem 1rem;
  color: #003fa2;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-weight: 700;
}
.main-servicios .main-servicios-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: none;
  gap: 1.5rem;
  max-width: 90vw;
  margin: 0 1rem 1.5rem 1rem;
}
.main-servicios .main-servicios-grid .main-servicios-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #003fa2;
  border-radius: 25px;
}
.main-servicios .main-servicios-grid .main-servicios-card h2 {
  color: #ededed;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
}
.main-servicios .main-servicios-grid .main-servicios-card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}
.main-servicios .main-servicios-grid .main-servicios-card p {
  color: #ededed;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 0.65rem;
  margin-bottom: 2rem;
  margin: 0.5rem;
}

/* estilo tablet */
@media screen and (min-width: 768px) {
  .main-servicios h1 {
    font-size: 2.5rem;
    padding-left: 4rem;
  }
  .main-servicios .main-servicios-grid {
    margin: auto;
  }
  .main-servicios .main-servicios-grid .main-servicios-card {
    height: 100%;
  }
  .main-servicios .main-servicios-grid .main-servicios-card h2 {
    font-size: 1.5rem;
  }
  .main-servicios .main-servicios-grid .main-servicios-card div img {
    height: 200px;
    margin: auto;
    object-fit: cover;
  }
  .main-servicios .main-servicios-grid .main-servicios-card p {
    font-size: 1rem;
    flex-grow: 1;
  }
}
/* estilo desktop */
@media screen and (min-width: 1024px) {
  .main-servicios .main-servicios-grid {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }
  .main-servicios .main-servicios-grid .main-servicios-card {
    width: 100%;
    height: 380px;
  }
  .main-servicios .main-servicios-grid .main-servicios-card p {
    font-size: 0.9rem;
  }
}
/* contacto */
.main-contacto h1 {
  font-size: 1rem;
  margin-top: 1.5rem;
  padding: 0 0 1.5rem 1rem;
  color: #003fa2;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-weight: 700;
}
.main-contacto .formulario-contacto {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 80vw;
}
.main-contacto .formulario-contacto label {
  color: #003fa2;
  font-family: "PT Sans", sans-serif;
  margin-top: 1rem;
}
.main-contacto .formulario-contacto input {
  background-color: #ededed;
  border: 1px solid #003fa2;
  border-radius: 8px;
}
.main-contacto .formulario-contacto input:focus {
  outline: none;
}
.main-contacto .formulario-contacto textarea {
  font-family: "PT Sans", sans-serif;
  color: #000;
  background-color: #ededed;
  resize: vertical;
  min-height: 6rem;
  max-height: 8rem;
  border-radius: 8px;
  border: 1px solid #003fa2;
  padding-left: 0.5rem;
}
.main-contacto .formulario-contacto textarea:focus {
  outline: none;
}
.main-contacto .formulario-contacto .boton {
  color: #003fa2;
  width: 25%;
  margin: auto;
  margin-top: 2rem;
}
.main-contacto .formulario-contacto .boton:hover {
  background-color: #003fa2;
  color: #ededed;
  box-shadow: 0 0 10px #003fa2;
}
.main-contacto .formulario-contacto .boton:focus {
  background-color: #003fa2;
  color: #ededed;
  box-shadow: 0 0 60px #ededed;
}

/* estilo tablet */
@media screen and (min-width: 768px) {
  .main-contacto h1 {
    font-size: 2.5rem;
    padding-left: 4rem;
  }
  .main-contacto .formulario-contacto {
    width: 70%;
  }
  .main-contacto .formulario-contacto label {
    font-size: 1.5rem;
  }
  .main-contacto .formulario-contacto input {
    font-size: 1.5rem;
  }
  .main-contacto .formulario-contacto textarea {
    font-size: 1.5rem;
  }
}
/* estilo desktop */
@media screen and (min-width: 1024px) {
  .main-contacto .formulario-contacto {
    width: 60%;
    padding-bottom: 1rem;
  }
  .main-contacto .formulario-contacto label {
    font-size: 1.2rem;
  }
  .main-contacto .formulario-contacto input {
    font-size: 1.2rem;
  }
  .main-contacto .formulario-contacto textarea {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
